/* Styles for page AppTemplates */

.language-settings {
  margin-bottom: 16px;
}

.language-settings ux-chip {
  margin-right: 12px;
  cursor: pointer;
}

.language-settings ux-chip.inactive {
  border-color: var(--ux-swatch--grey-p300)!important;
  color: var(--ux-swatch--grey-p500)!important;
}
